*{
    box-sizing: border-box;
}
body{
    background-image: url(https://images.unsplash.com/photo-1517299321609-52687d1bc55a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8c25vd3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    align-items: center;
}
h1{
    font-size: 4rem;
    font-weight: normal;
    margin-top: 5rem;
}
.countdown-container{
    display:flex;
}
.big-text{
    font-size: 6rem;
    font-weight: bold;
    line-height: 1;   
    margin: 0 2rem ;
}
.countdown-el{
    text-align:center;

}
.countdown-el span{
    font-size: 1.3rem;
}